<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>
  
    <div class="box">
      <div class="container-2">
          <input id="searchTextField" type="text" size="50" class="search" onkeydown="search(this)"
              placeholder="Enter a location..." autocomplete="on" runat="server" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter a location...'" />
        
              <div class="form-group">
                <label for="country_select"></label>
                <select class="form-control form-control-sm" id="county-select">
                    <option value="">Choose a country</option>
                    <option value="">Argentina</option>
                    <option value="">Australia</option>
                    <option value="">Austria</option>
                    <option value="">Bahrain</option>
                    <option value="">Belgium</option>
                    <option value="">Brazil</option>
                    <option value="">Canada</option>
                    <option value="">Chile</option>
                    <option value="">China</option>
                    <option value="">Colombia</option>
                    <option value="">Costa Rica</option>
                    <option value="">Czech Republic</option>
                    <option value="">Denmark</option>
                    <option value="">Ecuador</option>
                    <option value="">Egypt</option>
                    <option value="">Finland</option>
                    <option value="">France</option>
                    <option value="">Germany</option>
                    <option value="">Greece</option>
                    <option value="">Hong Kong</option>
                    <option value="">Hungary</option>
                    <option value="">India</option>
                    <option value="">Indonesia</option>
                    <option value="">Ireland</option>
                    <option value="">Israel</option>
                    <option value="">Italy</option>
                    <option value="">Japan</option>
                    <option value="">Kuwait</option>
                    <option value="">Luxembourg</option>
                    <option value="">Malaysia</option>
                    <option value="">Mexico</option>
                    <option value="">Morocco</option>
                    <option value="">Netherlands</option>
                    <option value="">New Zealand</option>
                    <option value="">Nigeria</option>
                    <option value="">Norway</option>
                    <option value="">Oman</option>
                    <option value="">Pakistan</option>
                    <option value="">Panama</option>
                    <option value="">Peru</option>
                    <option value="">Philippines</option>
                    <option value="">Poland</option>
                    <option value="">Portugal</option>
                    <option value="">Qatar</option>
                    <option value="">Romania</option>
                    <option value="">Russia/option>
                    <option value="">Saudi Arabia</option>
                    <option value="">Singapore</option>
                    <option value="">South Africa</option>
                    <option value="">South Korea</option>
                    <option value="">Spain</option>
                    <option value="">Sweden</option>
                    <option value="">Switzerland</option>
                    <option value="">Taiwan</option>
                    <option value="">Thailand</option>
                    <option value="">Turkey</option>
                    <option value="">Ukraine</option>
                    <option value="">United Arab Emirates</option>
                    <option value="">United Kingdom</option>
                    <option value="">United States</option>
                    <option value="">Uruguay</option>
                    <option value="">Venezuela</option>
                    <option value="">Vietnam</option>
                </select>
            </div>
    </div>
    
      <div class="container" id="container">
        <div class="row row-centered pos">
            <div class="col-lg-8 col-xs-12 col-centered">
                <div class="well"></div>
            </div>
            <div class="col-lg-8 col-xs-12 col-centered">
                <div class="well"></div>
            </div>
            <div class="col-lg-8 col-xs-12 col-centered">
                <div class="well"></div>
            </div>
        </div>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-eMIbcjRzXUlbvWRoDLRET9eK2q_5GT8&libraries=places"></script>
<script>
  function initialize() {
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
          var place = autocomplete.getPlace();
      });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script src="/static/js/highcharts.js"></script>
    <script src="/static/main.js"></script>

  </body>
</html>
